.App {
  text-align: center;
}

h2 {
  margin: 0;
}

#drum-machine {
  width: 240px;
  margin: 0 auto;
}

.drum-pad {
  width: 80px;
  height: 80px;
  font-size: 25px;
}

#display {
  background-color: lightslategray;
  margin-top: 10px;
  height: 70px;
}
